<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ring_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>239FD5231E71E64A00D82EAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23C4D2E01E6BB79A00E472A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23DBBB381E6DF7280017A981</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
